@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap');


body{
    font-family: "Sour Gummy", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #fffaf3;
    background-image: url("https://png.pngtree.com/png-vector/20230410/ourmid/pngtree-lines-seamless-abstract-pattern-vector-png-image_6698976.png");
    background-blend-mode: color-burn;

}
h1{
    font-family: "Darumadrop One", serif;
    font-weight: 400;
    font-style: normal;
}
p,a, button, input{
    font-family: "Sour Gummy", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
